.main-header {
  background-color: #335f9c;
  color: white;
  padding: 10px 0;
}

input[type="search"] {
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #eee;
  color: #6c757d;
}

.nav-link {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.text-center h1 {
  font-size: 24px;
  margin: 20px 0;
}
